@media screen and (min-width: 1100px) and (max-width: 1600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #121c4d;
    position: absolute;
    top: 5% !important;
    padding-top: 1.4%;
    right: 0;
    height: 7vh !important;
  }

  .grid ul {
    display: grid;
    grid-template-columns: 250px 250px !important;
    grid-template-rows: repeat(3, 26vh) !important;
    margin: 10% 4%;
  }

  .grid img {
    width: 85% !important;
    height: 24vh !important;
    border: 2px solid #121c4d;
    object-fit: cover;
  }

  .content .active {
    display: block !important;
    margin-left: 5%;
    width: 70%;
    border-left: 10px solid #121c4d;
    padding-left: 2%;
    margin-bottom: 10% !important;
    margin-top: 4vh !important;

    animation: show 0.5s forwards;
  }
  .description {
    margin-left: 11.5% !important;
    margin-top: 1%;
    background-color: rgb(214, 213, 211);
    width: 30% !important;
    padding: 1% 2% 1% 1%;
    border-left: 10px solid #121c4d;
  }
  main .title {
    margin-left: 10%;
    font-size: 2.4rem;
    font-weight: 100;
    padding-left: 13px;
    border-left: 6px solid grey;
    width: 42%;
  }

  .name {
    position: absolute;
    bottom: 7%;
    background-color: rgb(255, 255, 255);
    left: 0;
    padding-left: 4%;
    padding-top: 2%;
    border: 1px solid black;
    right: 15% !important;
    height: min(5vh, 30px) !important;
    transition: all 0.5s ease-in;
  }
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  nav ul {
    height: 6vh !important;
  }

  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: min(3vw, 14px) !important;
    font-weight: 500;
    text-transform: uppercase;
  }

  nav ul {
    top: 2% !important;
  }

  main .title {
    margin-left: min(2%, 34px) !important;
    font-size: 1.9rem !important;
    font-weight: 100;
    padding-left: 13px;
    border-left: 6px solid grey;
    width: 72% !important;
  }

  .grid {
    margin-top: -6% !important;
    margin-left: 0% !important;
  }
  .grid ul {
    display: grid;
    grid-template-columns: repeat(3, 33%) !important;
    grid-template-rows: repeat(2, max(14vh, 200px)) !important;
    margin: 10% 4%;
    padding-bottom: max(12%, 350px) !important;
    max-height: 300px;
  }

  .grid img {
    width: 90%;
    height: max(13vh, 180px) !important;
    border: 2px solid #121c4d;
    object-fit: cover;
  }

  .famous {
    flex-direction: column !important;
  }

  .description {
    margin-left: 4% !important;
    margin-top: 1%;
    background-color: rgb(214, 213, 211);
    width: 50% !important;
    padding: 1% 2% 1% 1%;
    border-left: 10px solid #121c4d;
  }

  .content .active {
    display: block !important;
    margin-left: 5%;
    width: 70%;
    border-left: 10px solid #121c4d;
    padding-left: 2%;
    margin-top: min(15%, 4vh) !important;
    margin-bottom: 23%;
    animation: show 0.5s forwards;
  }

  .name {
    position: absolute;
    bottom: 7%;
    background-color: rgb(255, 255, 255);
    left: 0;
    padding-left: 4%;
    padding-top: 2%;
    border: 1px solid black;
    right: 10% !important;
    height: max(2vh, 45px) !important;
    transition: all 0.5s ease-in;
  }
}

@media screen and (max-width: 500px) {
  nav ul {
    height: 5vh !important;
  }

  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3vw !important;
    font-weight: 500;
    text-transform: uppercase;
  }

  nav ul {
    top: 2% !important;
    width: 100% !important;
    margin-left: 0 !important;
    padding-top: 1.3% !important;
  }

  nav li {
    padding-left: 10%;
  }
  main .title {
    margin-left: 2% !important;
    font-size: 1.9rem !important;
    font-weight: 100;
    padding-left: 13px;
    border-left: 6px solid grey;
    width: 92% !important;
  }
  .description {
    margin-left: 6% !important;
    margin-top: 1%;
    background-color: rgb(214, 213, 211);
    width: 60% !important;
    padding: 1% 2% 1% 1%;
    border-left: 10px solid #121c4d;
  }
  .grid {
    margin-top: -6% !important;
    margin-left: 2% !important;
  }
  .grid ul {
    display: grid;
    grid-template-columns: repeat(2, 53%) !important;
    grid-template-rows: repeat(3, max(10vh, 130px)) !important;
    margin: 10% 4%;
    padding-bottom: max(12%, 320px) !important;
    max-height: 300px;
  }

  .grid img {
    width: 90%;
    height: max(9vh, 120px) !important;
    border: 2px solid #121c4d;
    object-fit: cover;
  }

  .famous {
    flex-direction: column !important;
  }

  .content .active {
    display: block !important;
    margin-left: 6% !important;
    width: 90% !important;
    line-height: 1.5;
    border-left: 10px solid #121c4d;
    padding-left: 2%;
    margin-top: max(18%, 9vh) !important;
    margin-bottom: 23%;
    animation: show 0.5s forwards;
  }

  .name {
    position: absolute;
    bottom: 7%;
    background-color: rgb(255, 255, 255);
    left: 0;
    padding-left: 4%;
    padding-top: 2%;
    border: 1px solid black;
    right: 10% !important;
    height: max(2vh, 30px) !important;
    transition: all 0.5s ease-in;
  }
}
