* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
nav ul {
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: #121c4d;
  position: absolute;
  top: 10%;
  padding-top: 0.8%;
  right: 0;
  height: min(10vh, 35px) !important;
}

nav ul li {
  list-style: none;
  margin-left: 2%;
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.grid {
  margin-top: -6% !important;
  margin-left: 9%;
}

.grid ul {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(3, 28vh);
  margin: 10% 4%;
}

.grid li {
  list-style: none;
}
.grid img {
  cursor: pointer;
  width: 90%;
  height: 25vh;
  border: 2px solid #121c4d;
  object-fit: cover;
}

main {
  position: relative;
}
main .title {
  margin-top: max(13%, 120px);
  margin-left: 10%;
  font-size: 2.4rem;
  font-weight: 100;
  padding-left: 13px;
  border-left: 6px solid grey;
  width: 42%;
}
.description {
  margin-left: 11.5%;
  margin-top: 1%;
  background-color: rgb(214, 213, 211);
  width: 30%;
  padding: 1% 2% 1% 1%;
  border-left: 10px solid #121c4d;
}
.content section {
  display: none;
}

.famous {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 8%;
}
.content .active {
  display: block !important;
  margin-left: 5%;
  width: 70%;
  border-left: 10px solid #121c4d;
  padding-left: 2%;
  animation: show 0.5s forwards;
  line-height: 1.5;
}

.person {
  position: relative;
}

.name {
  position: absolute;
  bottom: 7%;
  background-color: rgb(255, 255, 255);
  left: 0;
  padding-left: 4%;
  padding-top: 2%;
  border: 1px solid black;
  right: 15%;
  height: 4vh;
  transition: all 0.5s ease-in;
}

.coloring {
  color: white;

  animation: putColor 0.3s forwards;
}

.coloring .name {
  background-color: #121c4d;
}
@keyframes putColor {
  from {
    color: black;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    color: #ffffff;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.active h4 {
  padding-bottom: 3%;
  font-weight: 200;
}
.section-img {
  height: 30vh;
  object-fit: cover;
  width: 50%;
}

.footer {
  text-align: center;
  padding: 1%;
  background-color: #121c4d;
  color: white;
}
